.top-artists {
    margin: 20px 0;
}

.top-artists > p {
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;
}

.artists-loading {
    margin: 50px 0;
}
@media only screen and (max-width: 480px) {
    .top-artists > p {
        font-size: 1.125rem;
    }
}