.user-info {
    background-color: rgb(34, 34, 34, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.user-info img {
    width: 85px;
    border-radius: 13px;
    padding: 10px;
}

.user-info > div {
    padding:  5px;
    color: #fafafa;
}

.user-info .user-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.user-info .user-id {
    font-size: 1.125rem;
    font-weight: 300;
}