.top-tracks {
    margin: 20px 0;
}

.top-tracks > p {
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;
}

@media only screen and (max-width: 480px) {
    .top-tracks > p {
        font-size: 1.125rem;
    }
}