.single-track {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    box-shadow: 2px 2px 7px #444;
    max-width: 500px;
}

.single-track > p {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0 10px;
    width: 30px;
}

.single-track img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.single-track > div {
    margin: 0 10px;
}

.single-track > div :first-of-type {
    font-size: 1.125rem;
    font-weight: 700;
}

@media only screen and (max-width: 480px) {
    .single-track > p {
        font-size: 1.125rem;
    }
    
    .single-track > div :first-of-type {
        font-size: 0.875rem;
    }

    .single-track > div :last-of-type {
        font-size: 0.75rem;
    }

    .single-track img {
        width: 35px;
        height: 35px;
    }
}