#root {
    min-height: 100vh;
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading img {
    width: 55px;
    animation: loading 2s linear infinite;
}

@media only screen and (max-width: 480px) {
    .loading img {
        width: 35px;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}